<!DOCTYPE html>
<html>

<!-- head -->
<%- include('../../layouts/head') %>

    <body>
        <div class="wrapper">
            <!-- Header -->
            <%- include('../../layouts/main-header') %>
                <!-- sidebar -->
                <%- include('../../layouts/side-bar') %>
                    <div class="main-panel">
                        <!-- main -->
                        <%- include('../../components/products/list'); %>
                            <!-- footer -->
                            <%- include("../../layouts/footer"); %>
                    </div>
        </div>
        <%- include('../../components/common/modalCategory'); %>

    </body>
    <!-- scripts -->
    <%- include("../../layouts/scripts/main"); %>
        <%- include("../../layouts/scripts/components"); %>
            <%- include("../../layouts/scripts/notifications.ejs"); %>
                <%- include("../../layouts/scripts/ListProduct.ejs"); %>

</html>