<!DOCTYPE html>
<html>

<!-- head -->
<%- include('../../layouts/head') %>

    <body>
        <div class="wrapper">
            <!-- Header -->
            <%- include('../../layouts/main-header') %>
                <!-- sidebar -->
                <%- include('../../layouts/side-bar') %>
                    <div class="main-panel">
                        <!-- main -->
                        <%- include('../../components/categories/form'); %>
                            <!-- footer -->
                            <%- include("../../layouts/footer"); %>
                    </div>
        </div>
        <!-- modal -->

    </body>
    <!-- scripts -->
    <%- include("../../layouts/scripts/main"); %>
        <%- include("../../layouts/scripts/components"); %>
            <script>
                const mode = '<%= mode %>'
                if (mode === 'Delete') {
                    $(".categoryInput").attr("disabled", "disabled")
                }
            </script>

</html>