<style>
    .card-body {
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 10px;
    }

    .table {
        text-align: center;
        width: 100%;
        border-collapse: collapse;
        background: #ffffff;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .table thead {
        background-color: #28a745;
        color: white;
        text-align: center;
    }

    .table thead th {
        padding: 12px;
        font-size: 16px;
    }

    .table tbody tr {
        transition: all 0.3s ease-in-out;
    }

    .table tbody tr:hover {
        background-color: #f1f1f1;
    }

    .table tbody td {
        padding: 12px;
        vertical-align: middle;
        border-bottom: 1px solid #ddd;
    }

    .table tbody td img {
        border-radius: 8px;
    }

    .table tbody td .badge {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 0 3px;
        border: 1px solid #ccc;
    }

    .flex {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .btn-sm {
        padding: 5px 10px;
        font-size: 14px;
        border-radius: 5px;
    }

    .btn-success {
        background-color: #28a745;
        border: none;
        color: white;
    }

    .btn-success:hover {
        background-color: #218838;
    }

    .btn-danger {
        background-color: #dc3545;
        border: none;
        color: white;
    }

    .btn-danger:hover {
        background-color: #c82333;
    }

    p {
        margin-bottom: 10px;
    }

    .color-box {
        width: 20px;
        height: 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 50%;
        margin-right: 5px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    }
</style>

<div class="content">
    <div class="container-fluid">
        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 2rem;">
            <h4 class="page-title" style="margin: 0;">Danh sách đơn hàng</h4>
            <a href="/orders/create" class="btn btn-default">Giả lập tạo đơn hàng</a>
            <!-- <a class="btn btn-default" onclick="toggleCategory()">Tạo modal</a> -->
        </div>
        <div class="flex justify-content-end">
            <div class="form-group max-w-20 flex item-center">
                <label for="defaultSelect" class="white-space"
                    style="margin-right: 10px; margin-bottom: 0 !important;">Sắp xếp</label>
                <select class="form-control" id="defaultSelect" onchange="changeSort(event)">
                    <% sortObjects.forEach(function(sortObject) { %>
                        <% if (sortObject.code===sort) { %>
                            <option value="<%= sortObject.code %>" selected>
                                <%= sortObject.name %>
                            </option>
                            <% } else { %>
                                <option value="<%= sortObject.code %>">
                                    <%= sortObject.name %>
                                </option>
                                <% } %>
                                    <% }); %>
                </select>
            </div>
        </div>
        <% if (orders && orders.length> 0) { %>
            <div class="card">
                <div class="card-body">
                    <table class="table table-head-bg-success">
                        <thead>
                            <tr>
                                <th scope="col">Mã hóa đơn</th>
                                <th scope="col">Sản phẩm</th>
                                <th scope="col">Giảm giá</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Tổng hóa đơn</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="listProduct">
                            <% orders.forEach(function(order, index) { %>
                                <tr>
                                    <td>
                                        <%= order.orderNo %>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <% order.orderItems.forEach(function(ordeItem, index) { %>
                                                <div class="d-flex" style="justify-content: center;">
                                                    <p>
                                                        <%= ordeItem.quantity %>
                                                    </p> - <p>
                                                        <%= ordeItem.productName %> (<%= ordeItem.productCode %>)
                                                    </p>
                                                </div>
                                                <% }); %>
                                        </div>
                                    </td>
                                    <td>
                                        <%= order.discount %>%
                                    </td>
                                    <td>
                                        <%= order.status %>
                                    </td>
                                    <td>
                                        <%= order.total.toLocaleString() %> VNĐ
                                    </td>
                                    <!-- <td>
                                        <div class="form-group">
                                            <% if (order && order.colors && order.colors.length> 0) { %>
                                                <div class="color-list">
                                                    <% order.colors.forEach(function(color) { %>
                                                        <div class="color-box" style="background-color: <%= color %>;">
                                                        </div>
                                                        <% }); %>
                                                </div>
                                                <% } else { %>
                                                    <span class="text-muted">Không có màu</span>
                                                    <% } %>
                                        </div>
                                    </td> -->
                                    <td>
                                        <a href="/orders/update/<%= order._id %>" class="btn btn-success btn-sm">Hoàn
                                            thành</a>
                                        <a href="/orders/detail/<%= order._id %>" class="btn btn-success btn-sm">Chi tiết</a>
                                        <a href="/orders/cancel-form/<%= order._id %>" class="btn btn-danger btn-sm">Hủy
                                            đơn hàng</a>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
                <div class="card-body d-flex justify-content-center item-center">
                    <div class="form-group flex item-center">
                        <label for="defaultSelect" class="mr-2 white-space" style="margin-bottom: 0 !important;">Page
                            Size</label>
                        <select class="form-control" id="defaultSelect" onchange="changePageSize(event)">
                            <% [5, 10, 20, 30, 50].forEach(function(pageSizeOption) { %>
                                <option value="<%= pageSizeOption %>" <%=pageSizeOption===pageSize ? 'selected' : '' %>>
                                    <%= pageSizeOption %>
                                </option>
                                <% }); %>
                        </select>
                    </div>
                    <ul class="pagination mb-0" style="margin-left: 1rem;">
                        <li class="page-item <%= page === 1 ? 'disabled' : '' %>">
                            <a class="page-link" href="#" onclick="prevPage()">«</a>
                        </li>
                        <% for (let i=1; i <=countPagination; i++) { %>
                            <li class="page-item <%= page === i ? 'active' : '' %>">
                                <a class="page-link" href="#" onclick="changePage(`<%= i %>`)">
                                    <%= i %>
                                </a>
                            </li>
                            <% } %>
                                <li class="page-item <%= page === countPagination ? 'disabled' : '' %>">
                                    <a class="page-link" href="#" onclick="nextPage()">»</a>
                                </li>
                    </ul>
                </div>
            </div>
            <% } else { %>
                <h4 class="page-title">Hiện chưa có loại sản phẩm nào</h4>
                <% } %>
    </div>
</div>